<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:insert="fragments/recursos.html :: recursos"></th:block>
	<title>Home</title>
</head>
<body>
<th:block th:insert="fragments/header.html :: header"></th:block>
	<main role="main">
		<div class="container mt-2">
			<div class="row">
				<div class="col-12">
					<a th:href="@{/nuevoAlumno}" class=" btn  "
						style="background-color: #9cfc97;">Nuevo alumno</a> <a
						th:href="@{/nuevaPlantilla}" class=" btn  "
						style="background-color: #9cfc97;">Nueva plantilla</a>
				</div>
			</div>
			<div class="row">
				<div class="col-12 mt-3 mb-3">
					<div class="card">
						<h4 class="card-header">
							<strong>Niños</strong>
						</h4>
						<div class="card-body">
							<div th:if="${msg != null}" class='alert alert-success'
								th:text="${msg}" role='alert'></div>
							<table class="table table-hover">
								<thead class="thead-light">
									<tr>
										<th>Nombre</th>
										<th>Edad</th>
										<th>Imagen</th>
										<th>Operaciones</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="alumno:${alumnos}">
										<td><a
											th:href="@{/ventanaAlumno/{id} (id=${alumno.id_alumno})}"><span
												th:text="${alumno.nombre}"></span></a></td>
										<td th:text="${alumno.edad}"></td>
										<td><img class="rounded mx-auto d-block"
											th:src="@{/logos/{img}   (img=${alumno.imagen})}"
											alt="Imagen alumno" width="50"></td>
										<td><a
											th:href="@{/editarAlumno/{id} (id=${alumno.id_alumno})}"
											class="btn btn-success btn-sm" role="button" title="Editar"><i
												class="fas fa-pencil-alt" aria-hidden="true"></i></a> <a
											th:href="@{/eliminarAlumno/{id} (id=${alumno.id_alumno})}"
											onclick="return confirm('¿Estás seguro?')"
											class="btn btn-success btn-sm" role="button" title="Eliminar"><i
												class="fas fa-trash" aria-hidden="true"></i></a></td>
									</tr>
									<tr>
								</tbody>
							</table>
						</div>
						<!-- /cardBody -->
					</div>
					<!-- /card -->
				</div>
			</div>
		</div>
	</main>

	<!--Tabla para las plantillas -->
	<main role="main">

		<div class="container">

			<div class="card">
				<h4 class="card-header">
					<strong>Plantilla</strong>
				</h4>
				<div class="card-body">

					<table class="table table-hover">
						<thead class="thead-light">
							<tr>

								<th>Nombre</th>
								<th>Categoria</th>
								<th>Detalles</th>
								<th>Operaciones</th>

							</tr>
						</thead>
						<tbody>
							<tr th:each="plantilla:${plantillas}">



								<td th:text="${plantilla.nombre}"></td>

								<td th:text="${plantilla.categoria.nombre}"></td>
								<td th:text="${plantilla.detalles}"></td>
								<td><a
									th:href="@{/editarPlantilla/{id} (id=${plantilla.id_plantilla})}"
									class="btn btn-success btn-sm" role="button" title="Editar"><i
										class="fas fa-pencil-alt" aria-hidden="true"></i></a> <a
									th:href="@{/eliminarPlantilla/{id} (id=${plantilla.id_plantilla})}"
									onclick="return confirm('¿Estás seguro?')"
									class="btn btn-success btn-sm" role="button" title="Eliminar"><i
										class="fas fa-trash" aria-hidden="true"></i></a></td>



							</tr>
						</tbody>
					</table>
				</div>
				<!-- /cardBody -->
			</div>
			<!-- /card -->


		</div>
		<!-- /container -->

	</main>



	<br>
	<br>



	</div>
	<footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>
</body>
</html>